# Investment Portfolio Exercise - Intro to Pandas

Starting from scratch we will build a DataFrame to hold an investment portfolio. Please note that all information including the prices is made up and not intended to be used as an investment advise.

# Exercise Goals & Objectives:
- Learn and prctice Pandas
- Practice manipulating data with Pandas
- Practice DataFrame
- Practice Filtering DataFrame
- Practice logical statements

# 1. Import all necessary libriaries

In [1]:
import pandas as pd

# 2. Using Python lists symbol, price, earnings create a DataFrame and save it under name df.

In [3]:
symbol = ["IBM","MSFT","ORCL","AAPL"]
price = [134.35,151.78,55.68,267.50]
earnings = [8.60,5.30,3.06,11.89]

In [4]:
df = pd.DataFrame()
df["Symbol"] = symbol
df["Price"] = price
df["Earnings"] = earnings

In [5]:
df

  Symbol   Price  Earnings
0    IBM  134.35      8.60
1   MSFT  151.78      5.30
2   ORCL   55.68      3.06
3   AAPL  267.50     11.89

# 3.Using formula calculate P/E ratio and seve results as a DataFrame column with PE name

```
P/E Ratio = Market value per share/Earnings per share
```

In [7]:
df["PE"] = df["Price"]/df["Earnings"]
df

  Symbol   Price  Earnings         PE
0    IBM  134.35      8.60  15.622093
1   MSFT  151.78      5.30  28.637736
2   ORCL   55.68      3.06  18.196078
3   AAPL  267.50     11.89  22.497897

# 4. Using method round() round up the vales in PE column up to 2 numbers after decimal poin

In [8]:
df["PE"] = df["PE"].round(2)

In [9]:
df

  Symbol   Price  Earnings     PE
0    IBM  134.35      8.60  15.62
1   MSFT  151.78      5.30  28.64
2   ORCL   55.68      3.06  18.20
3   AAPL  267.50     11.89  22.50

# 5. Add new column, call it "Market_Cap" with 0 values

In [10]:
df["Market_Cap"] = 0

In [11]:
df

  Symbol   Price  Earnings     PE  Market_Cap
0    IBM  134.35      8.60  15.62           0
1   MSFT  151.78      5.30  28.64           0
2   ORCL   55.68      3.06  18.20           0
3   AAPL  267.50     11.89  22.50           0

# 6. Add the following data to Market_Cap column

In [12]:
mc = ["120B","1.2T","185.033B","1.218T"]

In [13]:
df["Market_Cap"] = mc

In [14]:
df

  Symbol   Price  Earnings     PE Market_Cap
0    IBM  134.35      8.60  15.62       120B
1   MSFT  151.78      5.30  28.64       1.2T
2   ORCL   55.68      3.06  18.20   185.033B
3   AAPL  267.50     11.89  22.50     1.218T

# 7. Use the values from column "Symbol" as Index

In [16]:
df.index = df["Symbol"]

In [17]:
df

       Symbol   Price  Earnings     PE Market_Cap
Symbol
IBM       IBM  134.35      8.60  15.62       120B
MSFT     MSFT  151.78      5.30  28.64       1.2T
ORCL     ORCL   55.68      3.06  18.20   185.033B
AAPL     AAPL  267.50     11.89  22.50     1.218T

# 8. Get rid of the "Symbol" column

In [18]:
df.drop("Symbol",axis=1,inplace=True)

# 9. Find all stocks where the price is less than $100

In [21]:
df[ df["Price"] < 100 ]

        Price  Earnings    PE Market_Cap
Symbol
ORCL    55.68      3.06  18.2   185.033B

# 10. Which stock has the highest PE Ratio

In [22]:
df[ df["PE"] == df["PE"].max() ]

         Price  Earnings     PE Market_Cap
Symbol
MSFT    151.78       5.3  28.64       1.2T

# 11. Covert the values in "Market_Cap" from Trillions to Billions using the formula below, also make sure the values are numerc data types.

```
How to Convert Trillions to Billions.
There are 1000 billions in a trillion ie. 1 trillion is equal to 1000 billions. So to convert trillions to billions just multiply trillions value with 1000.

Example : to convert 13 trillion to billion

13 trillions equals 13 x 1000 billions i.e 13000 billions.
```

Hint: use apply() and lambda, save new values in the new column "Billions"

In [23]:
df["Billions"]=df["Market_Cap"].apply(lambda x : float(x.strip("T"))*1000 if "T" in x else float(x.strip("B")))

In [24]:
df

         Price  Earnings     PE Market_Cap  Billions
Symbol
IBM     134.35      8.60  15.62       120B   120.000
MSFT    151.78      5.30  28.64       1.2T  1200.000
ORCL     55.68      3.06  18.20   185.033B   185.033
AAPL    267.50     11.89  22.50     1.218T  1218.000

# 12. Get the total Market Capitalization of all companies in the portfolio by summing up the values in "Billions" columns

In [25]:
df["Billions"].sum()

2723.033

# 13. Fetch the Price of "ORCL" using method loc

In [27]:
df.loc["ORCL","Price"]

55.68