# The Olympics Solution

The Olympic Games, which originated in ancient Greece as many as 3,000 years ago. The first modern Olympics took place in 1896 in Athens, and featured 280 participants from 12 nations. Using the hsitoric data from 1896 to morden days we will learn a lot about athletes who won medals.

Exercise Goals & Objectives:
- Learn and prctice Pandas
- Practice filtering DataFrame
- Practice reading and writing data in Excel using Python

Data Set:
- Using Pandas pd.read_csv() function read **athlete_events.csv** file, saved in the datasets folder

# 1. Import all necessary libriaries

In [1]:
import pandas as pd

# 2. Read the file in DataFrame format

Windows might require liitle r letter before the file path
```
example:
pd.read_csv(r"file/path")
```

In [2]:
path = "datasets/athlete_events.csv"

In [3]:
df = pd.read_csv(path)
df.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN

# 3. Find 3 contries that won most of the gold medals

In [4]:
df.Team[df["Medal"]=="Gold"].value_counts().head(3)

United States    2474
Soviet Union     1058
Germany           679
Name: Team, dtype: int64

Step by step solution

In [5]:
condition = df["Medal"]=="Gold"

In [6]:
# Return a Series containing counts of unique values.
df["Team"][condition].value_counts().iloc[:3]

United States    2474
Soviet Union     1058
Germany           679
Name: Team, dtype: int64

In [7]:
# step1 define condition
condition = df["Medal"]=="Gold"
# step2 apply the condition to the column Team
obj = df["Team"][condition]
# step 3 # Return a Series containing counts of unique values.
obj = obj.value_counts()
# stewp 4 slice the first 3
obj.iloc[:3]

United States    2474
Soviet Union     1058
Germany           679
Name: Team, dtype: int64

# 4. Which US citizen has the most Olympic gold medals How many?

In [8]:
df.Name[df["Team"]=="United States"][df["Medal"]=="Gold"].value_counts().head(1)

Michael Fred Phelps, II    23
Name: Name, dtype: int64

In [9]:
df.Name[(df["Team"]=="United States") & (df["Medal"]=="Gold")].value_counts().head(1)

Michael Fred Phelps, II    23
Name: Name, dtype: int64

# 5. Find 3 athletes who have more medals?

In [10]:
df_new = df.dropna()

In [11]:
df_new.Name.value_counts().iloc[:3]

Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Name: Name, dtype: int64

# 6. Who is the youngest Olympic medalist? Get name, age, year and sport

In [12]:
youngest = df[df["Age"] == df["Age"].min()]
youngest[["Name","Age","Year","Sport"]]

                      Name   Age  Year       Sport
142882  Dimitrios Loundras  10.0  1896  Gymnastics

# 7. Who was the oldest athlete to win gold? Get age, year and sport

In [13]:
gold = df[df["Medal"]=="Gold"]

In [14]:
age_oldest = gold["Age"].max()

In [15]:
gold[["Name","Age","Year","Sport"]][gold["Age"]==age_oldest ]

                     Name   Age  Year     Sport
105199    Charles Jacobus  64.0  1904     Roque
233390  Oscar Gomer Swahn  64.0  1912  Shooting

# 8. How many sports are in the Olympics? List all of them

In [16]:
df.Sport.drop_duplicates().sort_values()

214105         Aeronautics
59           Alpine Skiing
30323             Alpinism
287                Archery
58        Art Competitions
                ...
3               Tug-Of-War
291             Volleyball
88              Water Polo
80           Weightlifting
81               Wrestling
Name: Sport, Length: 66, dtype: object

In [17]:
df.Sport.drop_duplicates().sort_values().count()

66

# 9. Get all Silver medalist and write them into excel file

In [18]:
silver = df[df["Medal"]=="Silver"]

In [19]:
silver.to_excel('silver_medal.xlsx')

# 10. Based on the data set get the season and the city of the first olympic games

In [33]:
df[["Season","City"]][df["Year"]==df["Year"].min()].iloc[:1]

      Season    City
3079  Summer  Athina

# 11. Who was the tallest athlete won gold medal

In [38]:
gold_medals = df[df["Medal"] == "Gold"]
gold_medals["Name"][gold_medals["Height"]==gold_medals["Height"].max()]

207373    Arvydas Romas Sabonis
Name: Name, dtype: object