# The Olympics Solution

The Olympic Games, which originated in ancient Greece as many as 3,000 years ago. The first modern Olympics took place in 1896 in Athens, and featured 280 participants from 12 nations. Using the hsitoric data from 1896 to morden days we will learn a lot about athletes who won medals.

Exercise Goals & Objectives:
- Learn and prctice Pandas
- Practice filtering DataFrame
- Practice reading and writing data in Excel using Python

Data Set:
- Using Pandas pd.read_csv() function read **athlete_events.csv** file, saved in the datasets folder

# 1. Import all necessary libriaries

# 2. Read the file in DataFrame format

Windows might require liitle r letter before the file path
```
example:
pd.read_csv(r"file/path")
```

# 3. Find 3 contries that won most of the gold medals

United States    2474
Soviet Union     1058
Germany           679
Name: Team, dtype: int64

Step by step solution

# 4. Which US citizen has the most Olympic gold medals How many?

Michael Fred Phelps, II    23
Name: Name, dtype: int64

# 5. Find 3 athletes who have more medals?

Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Name: Name, dtype: int64

# 6. Who is the youngest Olympic medalist? Get name, age, year and sport

                      Name   Age  Year       Sport
142882  Dimitrios Loundras  10.0  1896  Gymnastics

# 7. Who was the oldest athlete to win gold? Get age, year and sport

                     Name   Age  Year     Sport
105199    Charles Jacobus  64.0  1904     Roque
233390  Oscar Gomer Swahn  64.0  1912  Shooting

# 8. How many sports are in the Olympics? List all of them

214105         Aeronautics
59           Alpine Skiing
30323             Alpinism
287                Archery
58        Art Competitions
                ...
3               Tug-Of-War
291             Volleyball
88              Water Polo
80           Weightlifting
81               Wrestling
Name: Sport, Length: 66, dtype: object

66

# 9. Get all Silver medalist and write them into excel file

# 10. Based on the data set get the season and the city of the first olympic games

      Season    City
3079  Summer  Athina

# 11. Who was the tallest athlete won gold medal

207373    Arvydas Romas Sabonis
Name: Name, dtype: object