# Zomato Exercise Solution

In this exercise we will analize the data set form very popular restaurant agrigator Zomato https://www.zomato.com

Exercise Goals & Objectives:
- Learn and prctice Pandas
- Practice filtering DataFrame
- Practice Matplotlib

Data Set:
- Using Pandas pd.read_csv() function read **zomato.csv** file, saved in the datasets folder

# 1. Import all necessary libriaries

# 2. Read the file in DataFrame format

If pd.read_csv() gives you encoding error use keyword argument in the function encoding="Latin1", also Windows might require liitle r letter before the file path
```
example:
pd.read_csv(r"file/path")
```

# 3. Use function head() to see the first 5 rows

# 4. How many restaurants have the highest Aggregate rating?

# 5. What % of all restaurants have the highest rating?

# 6. How many restaurants are in Abu Dhabi?

# 7. How many restaurants in the state of WA (use column Address) ?

# 8. Get the restauranst with the highest rating in New Delhi

# 9. Which cousine is more popular Chinese of American?

# 10. What is the name and rating of the most expensive restaurant for two ('Average Cost for two')?

# 11. Find the most expensive Chinese restaurant in New Delhi in US Dollars 1 Indian Rupee is 0.013 United States Dollar

# 12. Plot as a pie 5 cities with the highest number of restaurants